<?xml version="1.0" encoding="UTF-8" ?><configRoot><myCarIndex>1</myCarIndex><myWorldType>1</myWorldType><weatherType>1</weatherType><aiColors>2</aiColors><humanColor>1</humanColor><maxAiCount>5</maxAiCount><gameDiff>2</gameDiff><gangBang>false</gangBang><nickName /><maxQuality>false</maxQuality></configRoot>